@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-200;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-300;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-400;
}

::-webkit-scrollbar-thumb:active {
  @apply bg-gray-600;
}

.base-button {
  @apply py-2 px-5 border rounded hover:bg-gray-100 active:bg-gray-200;
}
.base-input {
  @apply outline-none w-full border py-2 px-4 hover:border-gray-300 active:border-gray-400 focus:border-gray-400;
}

@keyframes text-animation {
  0% {
    opacity: 0.5;
    transform: scale(0);
  }
  20% {
    opacity: 0.9;
    transform: scale(0.9);
  }
  60% {
    opacity: 0.92;
    transform: scale(0.92);
    transform: rotateZ(10deg);
  }
  70% {
    opacity: 0.94;
    transform: scale(0.94);
    transform: rotateZ(-10deg);
  }
  80% {
    opacity: 0.96;
    transform: scale(0.96);
    transform: rotateZ(10deg);
  }
  90% {
    opacity: 0.98;
    transform: scale(0.98);
    transform: rotateZ(-10deg);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
